# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtualenv
.venv/
venv/
env/

# Segredos
.env

# Django
staticfiles/
media/
*.sqlite3

# Testes
.pytest_cache/
.coverage
htmlcov/

# Build
*.egg-info/
dist/
build/
